---
import '@/styles/index.css'
import Header from './Header.astro'
import Navbar from './Navbar.astro'
import Footer from './Footer.astro'
import { PandaConfig } from '@/config'
import { type Lang, LOCALES, getLocalePaths } from '@/utils/i18n'
const { description: defaultDescription, title: defaultTitle } = PandaConfig
const locale = Astro.currentLocale as Lang

export const prerender = true

export interface Props {
    title: string
    navbar?: boolean
    description?: string
}

let { title, navbar, description } = Astro.props
navbar = navbar === undefined ? true : navbar
description = description || defaultDescription
const fullTitle = `${title} - ${defaultTitle}`
---

<!doctype html>
<html lang={locale} class="mx-4">
    <head>
        <title>{fullTitle}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        {
            getLocalePaths(Astro.url).map((props) => (
                <link
                    rel="alternate"
                    hreflang={LOCALES[props.lang].lang || props.lang}
                    href={Astro.site?.origin + props.path}
                />
            ))
        }

        <!-- icon -->
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" sizes="192x192" href="/android-chrome.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <meta name="color-scheme" content="light dark" /> -->

        <!-- OGP -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content={title} />
        <meta property="og:site_name" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={Astro.site + 'ogp.png'} />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:locale" content={LOCALES[locale].lang || locale} />
        <meta name="twitter:card" content="summary" />
    </head>
    <body class="max-width dark:bg-stone-700">
        <Header />
        {navbar && <Navbar />}
        <slot />
        <Footer />
    </body>
</html>
